_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
node_modules/*
.secret
/.secret
.env
.env.local
.env.production

# Apple Music sensitive data
_data/apple_music_token.yml
/_data/apple_music_token.yml
/node_modules
node_modules
