<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<header>
  <h1>
    <a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a>
  </h1>

  {% if site.logo %}
    <img src="{{ site.logo | relative_url }}" alt="Logo">
  {% endif %}

  <p class="skinny">
    {{ site.description | default: site.github.project_tagline }}
  </p>

  <p class="view">
      <a href="{{ site.resume }}">
        Check Out My Resume
      </a>
  </p>


  {% if site.github.is_project_page %}
    <p class="view">
      <a href="{{ site.github.repository_url }}">
        Check Out My GitHub <small>{{ site.github.repository_nwo }}</small>
      </a>
    </p>
  {% endif %}
  {% if site.github.is_user_page %}
    <p>
      <a href="{{ site.github.owner_url }}">View My GitHub Profile</a>
    </p>
  {% endif %}
</header>

<!-- end custom head snippets -->