<!DOCTYPE html>
<html lang="en-US">
  {% include widgets/header/head.html %}
  <body>
    <aside class="sidebar">
      {% include widgets/sidebar/sidebar.html %}
    </aside>

    {% include components/ui/sidebar-toggle.html %}

    <div class="page-content">
      <header class="header">
        {% include widgets/header/main.html %}
      </header>
      
      <div class="wrapper">
        <main class="main-content">
          {{ content }}
        </main>
        <footer class="footer">
          {% include widgets/footer/footer.html %}
        </footer>
      </div>
    </div>
    
    <script src="{{ '/assets/js/auth.js.liquid' | relative_url }}"></script>
  </body>
</html>